[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 315px;
  }:

  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
